@import './variables';

.vest-form-input {
  display: block;
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1rpx solid $border-color;
    color: $border-color;
    left: 15px;
  }

  &:first-child:before {
    display: none;
  }
}
